@import '~antd/dist/antd.css';

body {
    font: 14px 'Century Gothic', Futura, sans-serif;
    padding: 0px;
    padding-top: 2vh;
    margin: 0px;
    font-family: PuHuiTi, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Helvetica Neue, Arial, Noto Sans, sans-serif, apple color emoji,
        segoe ui emoji, Segoe UI Symbol, noto color emoji, sans-serif;
    /* color: #f4ffb8; */
}

ol,
ul {
    padding-top: 1vh;
    padding-right: 1vw;
}

li button {
    color: black;
}

.board-row:after {
    clear: both;
    content: '';
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    /* color: #5b8c00; */
    background-color: #f0f0f0;
    border: 1px solid #262626;
    float: left;
    font-size: 46px;
    font-weight: 500;
    line-height: 76px;
    width: 76px;
    height: 76px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center; /* top-bottom*/
    justify-content: space-between; /* left-right*/
}

.game-board {
    padding: 4vh;
}

.game-records {
    display: flex;
    flex-direction: row;
    padding: 4vh;
    justify-content: space-between;
    /* background-color: brown; */
}

.game-info {
    font-weight: 500;
    font-size: large;
    width: 17vw;
    margin-left: 20px;
    background-color: #f0f0f0;
    padding: 13px;
    border-radius: 13px;
}
